.Container-discover{
  float: left;
  position: relative;
  text-align: justify;
  padding: auto;
  width: 500px;
  margin-top: 120px;
  margin-bottom: 120px;
}


.Container-discover li{
  float: none;
  text-align: left;
}

.Container-discover h3{
  font-family: fantasy;
  font-size: 25px;
  color: darkblue;
}

.Container-discover a {
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #e52f37;
  color: white;
  margin-top: 15px;
  border-color: none;
  border-radius: 40px;
  box-shadow: 0 0 50px 2px rgb(177, 175, 175);
  font-weight: 10px;
}

.Container-discover p{
  line-height: 2;
}

.Container-discover ul {
  list-style-type: none ;
}

.white-border{
  border: 5px solid white;
}

@media screen and (max-width: 600px) and (min-width: 130px) {
  .Container-discover{
    float: left;
    position: relative;
    text-align: justify;
    padding: auto;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  ul {
    list-style-type: none ;
  }


  .Container-discover li{
    float: none;
    text-align: left;
  }

  .Container-discover h3{
    font-family: fantasy;
    font-size: 25px;
    color: darkblue;
  }

  .Container-discover a {
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #e52f37;
    color: white;
    margin-top: 15px;
    border-color: none;
    border-radius: 40px;
    box-shadow: 0 0 50px 2px rgb(177, 175, 175);
    font-weight: 10px;
  }

  .Container-discover p{
    line-height: 2;
  }

}
